html {
  font-size: 10px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* Start Custom Fonts */
/* exo-2-regular - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo-2-v4-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Exo 2"), local("Exo2-Regular"), url("../fonts/exo-2-v4-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/exo-2-v4-latin-regular.woff2") format("woff2"), url("../fonts/exo-2-v4-latin-regular.woff") format("woff"), url("../fonts/exo-2-v4-latin-regular.ttf") format("truetype"), url("../fonts/exo-2-v4-latin-regular.svg#Exo2") format("svg");
  /* Legacy iOS */
}

/* exo-2-italic - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/exo-2-v4-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Exo 2 Italic"), local("Exo2-Italic"), url("../fonts/exo-2-v4-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/exo-2-v4-latin-italic.woff2") format("woff2"), url("../fonts/exo-2-v4-latin-italic.woff") format("woff"), url("../fonts/exo-2-v4-latin-italic.ttf") format("truetype"), url("../fonts/exo-2-v4-latin-italic.svg#Exo2") format("svg");
  /* Legacy iOS */
}

/* exo-2-700 - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/exo-2-v4-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Exo 2 Bold"), local("Exo2-Bold"), url("../fonts/exo-2-v4-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/exo-2-v4-latin-700.woff2") format("woff2"), url("../fonts/exo-2-v4-latin-700.woff") format("woff"), url("../fonts/exo-2-v4-latin-700.ttf") format("truetype"), url("../fonts/exo-2-v4-latin-700.svg#Exo2") format("svg");
  /* Legacy iOS */
}

/* exo-2-700italic - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/exo-2-v4-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Exo 2 Bold Italic"), local("Exo2-BoldItalic"), url("../fonts/exo-2-v4-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/exo-2-v4-latin-700italic.woff2") format("woff2"), url("../fonts/exo-2-v4-latin-700italic.woff") format("woff"), url("../fonts/exo-2-v4-latin-700italic.ttf") format("truetype"), url("../fonts/exo-2-v4-latin-700italic.svg#Exo2") format("svg");
  /* Legacy iOS */
}

/* End custom Fonts */
body {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
}

.clearfix::before, .row-default::before, .row-home::before, .row-videos::before, .header-barra::before, .clearfix::after, .row-default::after, .row-home::after, .row-videos::after, .header-barra::after {
  content: '';
  display: table;
}

.clearfix::after, .row-default::after, .row-home::after, .row-videos::after, .header-barra::after {
  clear: both;
}

.clearfix::after, .row-default::after, .row-home::after, .row-videos::after, .header-barra::after {
  zoom: 1;
}

.back-white {
  background-color: #ffffff;
}

.back-black {
  background-color: #000000;
}

.back-aqua {
  background-color: #2DCCD3;
}

.back-pink {
  background-color: #FC9BB3;
}

.back-aqua-light {
  background-color: rgba(45, 204, 211, 0.25);
}

.back-pink-light, .section-home:nth-child(2n+1) .section-home__individual--text {
  background-color: rgba(252, 155, 179, 0.25);
}

.color-white {
  color: #ffffff;
}

.color-black {
  color: #000000;
}

.color-aqua {
  color: #2DCCD3;
}

.color-pink {
  color: #FC9BB3;
}

.u-center-box-hz {
  margin: 0 auto;
}

.u-center-box-vt {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.u-center-box {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.u-center-text {
  text-align: center;
}

.u-margin-top-big {
  margin-top: 22rem;
}

.u-margin-bottom-medium {
  margin-bottom: 7.5rem;
}

.u-margin-bottom-small {
  margin-bottom: 4.5rem;
}

.sel-bold {
  font-weight: bold;
}

.footer {
  width: 100%;
  height: 11rem;
  position: relative;
}

.footer__paragraph {
  font-size: 2.4rem;
}

.row-default {
  max-width: 114rem;
  margin: 0 auto;
}

.row-default:not(:last-child) {
  margin-bottom: 8rem;
}

.row-default [class^="col-"] {
  float: left;
}

.row-default [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row-default .col-1-of-12 {
  width: calc( (1 * ((100% - 11 * 6rem) / 12)) + (1 - 1) * 6rem);
}

.row-default .col-2-of-12 {
  width: calc( (2 * ((100% - 11 * 6rem) / 12)) + (2 - 1) * 6rem);
}

.row-default .col-3-of-12 {
  width: calc( (3 * ((100% - 11 * 6rem) / 12)) + (3 - 1) * 6rem);
}

.row-default .col-4-of-12 {
  width: calc( (4 * ((100% - 11 * 6rem) / 12)) + (4 - 1) * 6rem);
}

.row-default .col-5-of-12 {
  width: calc( (5 * ((100% - 11 * 6rem) / 12)) + (5 - 1) * 6rem);
}

.row-default .col-6-of-12 {
  width: calc( (6 * ((100% - 11 * 6rem) / 12)) + (6 - 1) * 6rem);
}

.row-default .col-7-of-12 {
  width: calc( (7 * ((100% - 11 * 6rem) / 12)) + (7 - 1) * 6rem);
}

.row-default .col-8-of-12 {
  width: calc( (8 * ((100% - 11 * 6rem) / 12)) + (8 - 1) * 6rem);
}

.row-default .col-9-of-12 {
  width: calc( (9 * ((100% - 11 * 6rem) / 12)) + (9 - 1) * 6rem);
}

.row-default .col-10-of-12 {
  width: calc( (10 * ((100% - 11 * 6rem) / 12)) + (10 - 1) * 6rem);
}

.row-default .col-11-of-12 {
  width: calc( (11 * ((100% - 11 * 6rem) / 12)) + (11 - 1) * 6rem);
}

.row-home {
  max-width: 192rem;
  margin: 0 auto;
}

.row-home:not(:last-child) {
  margin-bottom: 0;
}

.row-home [class^="col-"] {
  float: left;
}

.row-home [class^="col-"]:not(:last-child) {
  margin-right: 0;
}

.row-home .col-1-of-12 {
  width: calc( (1 * ((100% - 11 * 0) / 12)) + (1 - 1) * 0);
}

.row-home .col-2-of-12 {
  width: calc( (2 * ((100% - 11 * 0) / 12)) + (2 - 1) * 0);
}

.row-home .col-3-of-12 {
  width: calc( (3 * ((100% - 11 * 0) / 12)) + (3 - 1) * 0);
}

.row-home .col-4-of-12 {
  width: calc( (4 * ((100% - 11 * 0) / 12)) + (4 - 1) * 0);
}

.row-home .col-5-of-12 {
  width: calc( (5 * ((100% - 11 * 0) / 12)) + (5 - 1) * 0);
}

.row-home .col-6-of-12 {
  width: calc( (6 * ((100% - 11 * 0) / 12)) + (6 - 1) * 0);
}

.row-home .col-7-of-12 {
  width: calc( (7 * ((100% - 11 * 0) / 12)) + (7 - 1) * 0);
}

.row-home .col-8-of-12 {
  width: calc( (8 * ((100% - 11 * 0) / 12)) + (8 - 1) * 0);
}

.row-home .col-9-of-12 {
  width: calc( (9 * ((100% - 11 * 0) / 12)) + (9 - 1) * 0);
}

.row-home .col-10-of-12 {
  width: calc( (10 * ((100% - 11 * 0) / 12)) + (10 - 1) * 0);
}

.row-home .col-11-of-12 {
  width: calc( (11 * ((100% - 11 * 0) / 12)) + (11 - 1) * 0);
}

.row-videos {
  max-width: 135rem;
  margin: 0 auto;
}

.row-videos:not(:last-child) {
  margin-bottom: 3rem;
}

.row-videos [class^="col-"] {
  float: left;
}

.row-videos [class^="col-"]:not(:last-child) {
  margin-right: 0;
}

.row-videos .col-1-of-12 {
  width: calc( (1 * ((100% - 11 * 0) / 12)) + (1 - 1) * 0);
}

.row-videos .col-2-of-12 {
  width: calc( (2 * ((100% - 11 * 0) / 12)) + (2 - 1) * 0);
}

.row-videos .col-3-of-12 {
  width: calc( (3 * ((100% - 11 * 0) / 12)) + (3 - 1) * 0);
}

.row-videos .col-4-of-12 {
  width: calc( (4 * ((100% - 11 * 0) / 12)) + (4 - 1) * 0);
}

.row-videos .col-5-of-12 {
  width: calc( (5 * ((100% - 11 * 0) / 12)) + (5 - 1) * 0);
}

.row-videos .col-6-of-12 {
  width: calc( (6 * ((100% - 11 * 0) / 12)) + (6 - 1) * 0);
}

.row-videos .col-7-of-12 {
  width: calc( (7 * ((100% - 11 * 0) / 12)) + (7 - 1) * 0);
}

.row-videos .col-8-of-12 {
  width: calc( (8 * ((100% - 11 * 0) / 12)) + (8 - 1) * 0);
}

.row-videos .col-9-of-12 {
  width: calc( (9 * ((100% - 11 * 0) / 12)) + (9 - 1) * 0);
}

.row-videos .col-10-of-12 {
  width: calc( (10 * ((100% - 11 * 0) / 12)) + (10 - 1) * 0);
}

.row-videos .col-11-of-12 {
  width: calc( (11 * ((100% - 11 * 0) / 12)) + (11 - 1) * 0);
}

header {
  width: 100%;
}

.header-barra {
  width: 130rem;
  height: 13rem;
  padding-top: 4rem;
  margin: 0 auto;
}

.header-barra__box {
  width: 50%;
  float: left;
}

.header-barra__box--left {
  text-align: left;
}

.header-barra__box--right {
  text-align: right;
}

.header-barra__link {
  font-size: 2.4rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.header-barra__link--white {
  color: #ffffff;
}

.header-barra__link--white:hover {
  color: #000000;
}

.header-barra__link--large {
  display: inline-block;
  width: 10rem;
  text-align: center;
}

.header-logo {
  width: 100%;
  height: 13rem;
}

.header-logo__img {
  display: block;
  height: 12.8rem;
  width: 36.8rem;
  margin: 0 auto;
}

/*
header.cultura-henlis .menu-principal {
    display: none;
}
.color-white nav > ul > li a {
    color: #fff;
}
.color-aqua nav > ul > li a {
    color: #2DCCD3;
}
.selected {
    font-weight: bold;
}
header .menu-principal {
    width: 900px;
    height: 102px;
    margin: 0 auto;
    position: relative;
}
@media only screen and (max-width: 910px) {
    header .menu-principal {
        width: 100%;
    }
}
header .menu-principal nav {
    position: absolute;
    width: 100%;
    bottom: 0;
}
header .menu-principal nav > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header .menu-principal nav > ul > li {
    position: relative;
    padding: 18px 0;
}
header .menu-principal nav > ul > li a {
    font-size: 22px;
    transition: color 0.25s ease;
}
header .menu-principal nav ul ul {
    position: absolute;
    top: 100%;
    width: 400%;
    left: -150%;
    text-align: center;
    transition: all 0.25s ease;
    z-index: 100;
}
header .menu-principal nav ul ul li {
    padding-top: 6px;
}
header .menu-principal nav ul ul:first-child {
    padding-top: 12px;
}

header .menu-principal nav ul ul li a {
    color: #000000;
    font-size: 22px;
    transition: all 0.25s ease;
}
*/
/* Transiciones y efectos del Menu Principal */
/*
header .menu-principal nav ul ul {
    visibility: hidden;
    opacity: 0;
    transform: translateY(15%);
}
header .menu-principal nav ul li:hover > ul {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

header .menu-principal nav > ul > li a:hover {
    color: #000000;
}
header .menu-principal nav ul ul li a:hover {
    color: #FC9BB3;
}
*/
.header-titulo {
  width: 100%;
  height: 29rem;
  position: relative;
}

.header-titulo__heading {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  font-size: 60px;
  font-weight: bold;
}

.header-titulo--aqua {
  border-bottom: 2rem solid #2DCCD3;
}

.header-titulo--aqua__heading {
  color: #2DCCD3;
}

.header-titulo--pink {
  border-bottom: 2rem solid #FC9BB3;
}

.header-titulo--pink__heading {
  color: #FC9BB3;
}

.section-home {
  width: 100%;
  max-height: 40.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-home__individual {
  width: 50%;
}

.section-home__individual--text {
  padding: 3rem 0 0 11.5rem;
}

.section-home__img {
  width: 100%;
  height: auto;
}

.section-home__text {
  width: 53rem;
}

.section-home__heading {
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 4.5rem;
  display: inline-block;
  width: 53rem;
}

.section-home__paragraph {
  font-size: 2.2rem;
  font-weight: normal;
  margin-bottom: 4.5rem;
}

.section-home__link {
  font-size: 2.2rem;
  font-weight: bold;
  color: #000000;
}

.cultura-henlis {
  margin-top: 13rem;
  width: 100%;
}

.cultura-henlis__box {
  width: 90rem;
  margin: 0 auto;
}

.cultura-henlis__heading {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.cultura-henlis__paragraph {
  font-size: 2.4rem;
  font-weight: bold;
  color: #ffffff;
  line-height: 135%;
  text-align: center;
}

.cultura-henlis__volver {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cultura-henlis__btn {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: #ffffff;
  margin: 0 .5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.cultura-henlis__btn:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
/*# sourceMappingURL=estilos.css.map */