html {
    box-sizing: border-box;
    font-family: 'Exo 2', Arial, Helvetica, sans-serif;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
ul, li, ol, dl {
    list-style: none;
    padding: 0;
    margin: 0;
} 
img {
    display: block;
}
/* clearfix */
.clearfix::before, .clearfix::after {
    content: '';
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix::after {
    zoom: 1;
}

/* */

.contenedor {
    width: 940px;
    margin: 0 auto;
    background-color: black;
}
nav > ul {
    display: flex;
    justify-content: space-between;
}
li {
    padding: 18px 30px;
    position: relative;
}
ul:first-child li{
    padding-left: 0;
}
ul:last-child li{
    padding-right: 0;
}
a {
    width: 100%;
    height: 100%;
}
li ul {
    width: 200%;
    left: -50%;
    position: absolute;
    top: 100%;
    text-align: center;
}
main {
    margin-top: 200px;
    margin-bottom: 30px;
}
section.section-grid {
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.imagen, .texto {
    grid-column: 1/2;
}
.imagen img {
    width: 100%;
    max-width: 960px;
    height: auto;
}
.texto {
    padding: 50px;
    grid-column: 2/3;
    background-color: pink;
}
footer {
    width: 100%;
    height: 200px;
    background-color: blue;
    position: relative;
}
footer p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


