// COLORS

$primary-color-aqua: #2DCCD3;
$primary-color-pink: #FC9BB3;

$color-white: #ffffff;
$color-black: #000000;

// DEGAULT FONT SIZE

$default-font-size: 1.6rem; 

// GRID DEFAULT

$grid-width-default: 114rem;
$gutter-vertical-default: 8rem;
$gutter-horizontal-default: 6rem;

// GRID HOME

$grid-width-home: 192rem;
$gutter-vertical-home: 8rem;
$gutter-horizontal-home: 6rem;

// GRID VIDEOS

$grid-width-videos: 135rem;
$gutter-vertical-videos: 8rem;
$gutter-horizontal-videos: 6rem;