html {
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(phone) {
        font-size: 50%;
    }

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

a {text-decoration: none;}

img {display: block};

li {list-style: none;}