//Media Query Manager
/*
0 - 375px:          Phone small
375 - 600px:        Phone
600px - 800px:      Tablet mini
800px - 900:        Tablet portrait
900px - 1000px:     Tablet
1000px - 1200px:    Tablet landscape
1200px - 1400px:    Normal
1400px - :          Big desktop

$breakpoint argument choices:
- phone-small
- phone
- tab-mini
- tab-port
- tab
- tab-land
- big-desk
*/

@mixin respond ($breakpoint) {
    
    @if $breakpoint == phone-small {

        @media only screen and (max-width: 23.4375em){@content;} //375px

    } @else if $breakpoint == phone {

        @media only screen and (max-width: 37.5em){@content;} //600px

    } @else if $breakpoint == tab-mini {

        @media only screen and (max-width: 50em){@content;} //800px

    } @else if $breakpoint == tab-port {

        @media only screen and (max-width: 56.25em){@content;} //900px

    }@else if $breakpoint == tab {

        @media only screen and (max-width: 62.5em){@content;} //1000px

    } @else if $breakpoint == tab-land {

        @media only screen and (max-width: 75em){@content;} //1200px

    } @else if $breakpoint == big-desk {

        @media only screen and (max-width: 87.5em){@content;} //1400px

    } @else {

        @warn Los argumentos de respond estan mal escritos;
        @debug Tu argumento $breakpoint no es igual a phone, tab-port, tab-land o big-desk;
        
    }

}

// Clearfix

@mixin clearfix {

    &::before, &::after {
        content: '';
        display: block;
    }

    &::after {
        clear: both;
    }

    &::after {
        zoom: 1;
    }

}

// Grid

@mixin grid($from, $to, $hzGutter: 0) {

    @for $i from $from to $to + 1 {

        .col-#{$i}-of-#{$to} {
            width: calc( #{$i} * ( ( 100% - (#{$to} - 1) * #{$hzGutter} ) / #{$to} ) + (#{$i} - 1) * #{$hzGutter} );
        }

    }

}

@mixin gridSmall($from, $to) {

    @for $i from $from to $to + 1 {

        .col-#{$i}-of-#{$to} {
            width: 100%;
        }

    }

}

// Center parent relative with child absolute

@mixin centerAbs($hijo) {
    left: calc( 50% - #{$hijo} / 2 );
}