// COLORS

$color-primary-aqua: #2DCCD3;
$color-primary-pink: #FC9BB3;
$color-primary-aqua-light: rgba($color-primary-aqua, .25);
$color-primary-pink-light: rgba($color-primary-pink, .25);

$color-white: #ffffff;
$color-black: #000000;
$color-grey: #577083;

// DEGAULT FONT SIZE

$default-font-size: 1.6rem; 

// GRID DEFAULT

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 8rem;
$gutter-horizontal: 6rem;

// GRID KIOSKO

$grid-width-kiosko: 114rem;
$gutter-vertical-kiosko: 8rem;
$gutter-vertical-small-kiosko: 8rem;
$gutter-horizontal-kiosko: 6rem;