.main-home {
    margin-top: 22rem;
    margin-bottom: 8rem;

    @include respond(tab-mini) {
        margin-top: 8rem;
    }

}

.section-home {
    max-width: 192rem;
    margin: 0 auto;
    display: flex;
    
    @include respond(tab) {
        display: block;
    }

    &__individual {
        width: 50%;

        @include respond(tab) {
            width: 100%;
        }

        &--text {
            padding: 3rem 1.5rem 0 11.5rem;

            @include respond(tab) {
                display: none;
            }

        }

    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__text {
        max-width: 53rem;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 4.5rem;
        display: inline-block;
        max-width: 100rem;

        @include respond(big-desk) {
            font-size: 2rem;
            margin-bottom: 3rem;
        }

    }

    &__paragraph {
        font-size: 2.2rem;
        font-weight: normal;
        margin-bottom: 4.5rem;

        @include respond(big-desk) {
            font-size: 1.8rem;
            margin-bottom: 3rem;
        }

    }

    &__link {
        font-size: 2.2rem;
        font-weight: bold;
        color: $color-black;

        @include respond(big-desk) {
            font-size: 1.8rem;
        }

    }

    &:nth-child(2n+1) &__individual--text {
        background-color: $color-primary-pink-light;
    }

}