.cultura-henlis {
    margin-top: 13rem;
    margin-bottom: 3rem;
    width: 100%;

    @include respond(tab-mini) {
        margin-top: 8rem;
    }

    &__box {
        max-width: 93rem;
        margin: 0 auto;
        padding: 0 1.5rem;
    }

    &__heading {
        font-size: 4rem;
        font-weight: bold;
        color: $color-white;
        text-align: center;

        @include respond(phone-small) {
            text-align: left;
        }

    }

    &__paragraph {
        font-size: 2.4rem;
        font-weight: bold;
        color: $color-white;
        line-height: 135%;
        text-align: center;

        @include respond(tab) {
            font-weight: normal;
        }

        @include respond(phone-small) {
            text-align: left;
        }

    }

    &__volver {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__btn {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        background-color: $color-white;
        margin: 0 .5rem;
        transition: all 0.2s;

        @include respond(phone) {
            width: 2.5rem;
            height: 2.5rem;
        }

        &:hover {
            background-color: rgba($color-white, .75);
        }
    }
    
}