.main-kiosko {
    margin: 15rem 0;
    text-align: center;

    @include respond(tab) {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    @include respond(phone) {
        margin-top: 6rem;
        margin-bottom: 8rem;
    }


}