html {
    box-sizing: border-box;
    font-family: 'Exo 2', Arial, Helvetica, sans-serif;
    font-size: 10px;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}