.articulo-guia {
    width: 110rem;
    margin: 0 auto;

    &__tertiary {
        font-size: 2.4rem;
        font-weight: normal;
        padding-bottom: 4.5rem;

        &--aqua {
            color: $color-primary-aqua;
        }

        &--pink {
            color: $color-primary-pink;
        }

    }

    &__paragraph {
        font-size: 2.2rem;
        font-weight: normal;
        padding-bottom: 4.5rem; 
    }

}

.img-guia {
    width: 100%;
}