// COLORS

$color-primary-aqua: #2DCCD3;
$color-primary-pink: #FC9BB3;
$color-primary-aqua-light: rgba($color-primary-aqua, .25);
$color-primary-pink-light: rgba($color-primary-pink, .25);

$color-white: #ffffff;
$color-black: #000000;

// DEGAULT FONT SIZE

$default-font-size: 1.6rem; 

// GRID DEFAULT

$grid-width-default: 114rem;
$gutter-vertical-default: 8rem;
$gutter-horizontal-default: 6rem;

// GRID HOME

$grid-width-home: 192rem;
$gutter-vertical-home: 0;
$gutter-horizontal-home: 0;

// GRID VIDEOS

$grid-width-videos: 135rem;
$gutter-vertical-videos: 3rem;
$gutter-horizontal-videos: 0;