header {
    width: 100%;
}

// Header Wrapper

.header-checkbox {
    display: none;
}

@include respond(tab-mini) {

    .header-checkbox {

        &:checked ~ .header-label .header-label__span {
            background-color: transparent;
            position: fixed;

            &::before {
                top: 0;
                transform: rotate(-135deg);
            }

            &::after {
                top: 0;
                transform: rotate(135deg);
            }

        }

        &:checked ~ .header-wrapper {
            height: 100vh;
            opacity: 1;
        }

        &:checked ~ .header-barra {
            opacity: 1;
            transform: translateX(0);
            position: fixed;
        }

        &:checked ~ .header-nav {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }

    }

    .header-label {
        position: absolute;
        top: 4rem;
        right: 4rem;
        display: block;
        z-index: 101;
        
        &__span {
            position: relative;
            
            &, &::before, &::after {
                display: block;
                width: 2.5rem;
                height: 2px;
                background-color: $color-white;
                z-index: 102;
            }

            &::before, &::after {
                content: '';
                position: absolute;
                transition: all .2s;
            }

            &::before {
                top: -1rem;
            }

            &::after {
                top: 1rem;
            }

        }
    }

    .header-wrapper {
        width: 100%;
        height: 0;
        position: fixed;
        top: 0;
        z-index: 100;
        opacity: 0;
        transition: all .4s;

        &--pink {
            background-color: rgba($color-primary-pink, .95);
        }

        &--aqua {
            background-color: rgba($color-primary-aqua, .95);
        }

    }

}


// Header Bara 

.header-barra {
    max-width: 132rem;
    height: 13rem;
    padding: 4rem 1rem 0 1rem;
    @extend .clearfix;
    margin: 0 auto;
    z-index: 2;
    transition: all .2s;

    &__box {
        width: 50%;
        float: left;

        &--left {
            text-align: left;
        }

        &--right {
            text-align: right;

            @include respond(tab-mini) {
                text-align: left;
            }
        }

        @include respond(tab-mini) {
            float: none;
            width: 100%;
            padding-bottom: 1em;
        }

    }

    &__link {
        font-size: 2.4rem;
        transition: all 0.4s 0.2s;

        &--white {
            color: $color-white;

            &:hover {color: $color-black;}
        }

        &--large {
            display: inline-block;
            width: 8.5rem;
            text-align: center;

            @include respond(tab-mini) {
                display: block;
                width: auto;
                text-align: left;
            }

        }

    }

    @include respond(tab-mini) {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 3rem;
        padding-left: 3rem;
        z-index: 101;
        opacity: 0;
        transform: translateX(-9999px);
    }

}

// Header logo

.header-logo {
    width: 100%;
    margin-bottom: 3.93rem;

    &__img {
        display: block;
        max-height: 12.8rem;
        max-width: 36.8rem;
        margin: 0 auto;
    }

    @include respond(tab-mini) {
        padding-top: 6.5rem;
        margin-bottom: 0;
        padding-bottom: 6.5rem;
    }

}

// Header nav

.header-nav {
    width: 100%;
    transition: all .3s .1s;

    @include respond(tab-mini) {
        position: fixed;
        top: 10rem;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transform: translateY(9999px);
        z-index: 101;
    }

    &__box {
        width: 90rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        z-index: 101;

        @include respond(tab) {
            width: 100%;
            margin: 0 0;
        }

        @include respond(tab-mini) {
            width: auto;
            margin: 0 0;
            display: block;
        }

        &--li {
            position: relative;
        }

        &--sub {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 100%;
            text-align: center;
            z-index: 102;
            transition: all .2s;
            transform: translateY(25%);
            $width: 175%;
            width: $width;

            @include centerAbs($width);

            @include respond(tab-mini) {
                display: none;
                transform: translateY(0);
                width: 100%;
                position: static;
            }
        }

    }

    &__link {
        padding: 1.8rem 2.5rem;
        font-size: 2.2rem;
        color: $color-white;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        transition: all .2s;

        @include respond(tab-mini) {
            display: block;
        }

        &--sub {
            padding-top: .5rem;
            color: $color-black;
            font-size: 2.2rem;
            text-align: center;
            transition: all .2s;
            display: inline-block;

            @include respond(tab-mini) {
                padding-top: 2rem; 
                display: block;
            }

        }

    }

    &__box--li:hover &__box--sub {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);

        @include respond(tab-mini) {
            display: block;
        }
    }

}


// Header Titulo

.header-titulo {
    width: 100%;
    height: 29rem;
    
    position: relative;

    &__heading {
        position: absolute;
        bottom: 0;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        text-align: center;
        width: 100%;
        font-size: 60px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &--aqua {
        border-bottom: 2rem solid $color-primary-aqua;
        background-color: $color-white; 

        .header-titulo__heading {
            color: $color-primary-aqua;
        }
    }

    &--pink {
        border-bottom: 2rem solid $color-primary-pink;
        background-color: $color-white; 

        .header-titulo__heading {
            color: $color-primary-pink;
        }
    }

}


